<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.m2e.core.projectConfigurators">
      <configurator
            class="foo.bar.baz.NativeLibraryConfigurator"
            id="foo.bar.baz.NativeLibraryConfigurator"
            name="native library configurator"
            secondaryTo="org.eclipse.m2e.jdt.javaConfigurator">
      </configurator>
   </extension>
   <extension
         point="org.eclipse.m2e.core.lifecycleMappingMetadataSource">
   </extension>
</plugin>
